@media (max-width: 799px) and (min-width: 1px) {
  .cabecalho {
    padding: 10px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .menu_link {
    font-size: 1.2rem;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 0;
  }

  .imagem {
    height: 20vh;
  }

  section {
    width: 90%;
  }

  .links {
    margin-bottom: 20px;
  }
}
  
@media (min-width: 800px) and (max-width: 999px) {
  .apresentacao {
    padding: 5% 9%;
  }

  .links_subtitulo {
    text-align: center;
  }

  .imagem {
    height: 35vh;
  }
}

@media (min-width: 1000px) {
  .imagem {
    height: 60vh;
  }
}